@charset "UTF-8";

header {
    border-bottom: 1px solid var(--cor-gray);
}

main {
    padding: 100px 0px;
}
form legend {
    font-family: var(--font-title);
    text-align: center;
    margin-bottom: 60px;
}
form input, form select, form textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 15px;
    background: whitesmoke;
    border: 2px solid var(--cor1);
    border-radius: 7px;
    outline: 0;
}
form button {
    background: var(--cor1);
    color: white;
}
form button:hover {
    background: white;
    color: var(--cor1);
}

footer {
    border-top: 1px solid var(--cor-gray);
}