@charset "UTF-8";

@font-face {
    font-family: 'Krona';
    src: url('../fonts/Titulos\ -\ Krona\ one.ttf');
}
@font-face {
    font-family: 'DM-sans';
    src: url('../fonts/Textos\ e\ subtitulos\ -\ DM\ Sans.ttf');
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --font-title: 'Krona', Arial, Helvetica, sans-serif;
    --font-text: 'DM-sans', Arial, Helvetica, sans-serif;

    --cor0: #b73511;
    --cor1: #db3609;
    --cor2: #e85128;
    --cor-gray: #515151;
}

html, body {
    width: 100vw;
    font-size: medium;
    font-family: var(--font-text);
    overflow-x: hidden;
}

a {
    position: relative;
    text-decoration: none;
    color: inherit;
}
a:hover {
    color: inherit;
}
a.link::after {
    content:"";
    position: absolute;
    width: 0;
    height: 4px;
    left: 0;
    bottom: 5px;
    background: var(--cor2);
    opacity: 0.8;
    z-index: -1;
    transition: all .3s ease;
}
a.link:hover::after {
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-title);
}

.button {
    padding: 8px 30px;
    border-radius: 7px;
    text-align: center;
    transition: all .3s ease;
}
.button:hover {
    transform: scale(1.05);
    box-shadow: 0 3px 10px #0000005e;
}

.gradient {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, transparent, #db36099a);
}

.container-fluid {
    width: 90%;
}

/************************************ HEADER ************************************/
header {
    padding: 15px 0px;
    color: black;
    font-size: 0.95rem;
    font-weight: 500;
}
header .logo {
    width: 200px;
    height: 35px;
    padding-right: 30px;
    border-right: 2px solid black;
}
header .logo svg {
    width: 100%;
    height: 100%;
}
header .logo a svg path {
    transition: all .2s ease-in-out;
}
header .logo a svg path:nth-child(1) {
    transition-delay: 0s;
}
header .logo a svg path:nth-child(2) {
    transition-delay: 0.15s;
}
header .logo a svg path:nth-child(3) {
    transition-delay: 0.25s;
}
header .logo a svg path:nth-child(4) {
    transition-delay: 0.35s;
}
header .logo a svg path:nth-child(5) {
    transition-delay: 0.05s;
}
header .logo a svg:hover path {
    fill: var(--cor1);
}
header nav {
    flex: 1;
}
header ul {
    list-style-type: none;
    margin: 0;
}
header ul li {
    display: flex;
    align-items: center;
    margin-right: 40px;
}
header a.button {
    width: 17vw;
    color: white;
    background: var(--cor1);
}
header a.button:hover {
    background: white;
    color: var(--cor1);
}


/************************************ MAIN ************************************/
#banner {
    width: 100%;
    height: calc(100vh - 65px);
    background: url('../img/simone-hutsch-_wpce-AsLxk-unsplash.jpg') no-repeat center center;
    background-size: cover;
}
#banner .intro {
    padding-top: 70px;
    color: black;
    backdrop-filter: blur(1px);
    border-radius: 20px;
}
#banner .intro p {
    max-width: 75%;
    margin-top: 15px;
    font-size: 1.2rem;
    font-weight: 500;
}
#banner .intro a.button {
    display: inline-block;
    width: 50%;
    margin: 50px auto;
    background: var(--cor1);
    color: white;
}
#banner .intro a.button:hover {
    background: white;
    color: var(--cor1);
}


#services {
    margin-top: -50px;
    padding: 120px 0px 80px 0px;
    background: var(--cor1);
    color: white;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    text-align: center;
}
#services .title {
    width: 50%;
    margin: auto;
    margin-bottom: 60px;
    text-align: center;
}
#services .title h2 {
    text-transform: uppercase;
}
#services .services-block {
    width: 300px;
    height: 380px;
    margin: 0px 40px 40px 40px;
    padding: 15px 0px;
    background: white;
    color: black;
    text-align: center;
    border-radius: 20px;
    transition: all .3s ease;
}
#services .services-block h3 {
    margin: 0;
    font-family: var(--font-text);
    font-size: 1.3rem;
    line-height: 2rem;
}
#services .services-block div {
    width: 100%;
    height: 210px;
    margin: 20px 0px;
}
#services .services-block div#fachada {
    background: url('../img/priscilla-du-preez-BuDD1HGco-4-unsplash.jpg') no-repeat;
    background-size: cover;
}
#services .services-block div#vidro {
    background: url('../img/ryoji-iwata-Fusx3dlbqpw-unsplash.jpg') no-repeat bottom;
    background-size: cover;
}
#services .services-block div#ved {
    background: url('../img/klim-musalimov-BEmzCMdw8oc-unsplash.jpg') no-repeat center;
    background-size: cover;
}
#services .services-block div.gradient {
    background: linear-gradient(180deg, transparent, #db36095d);
}
#services .services-block p {
    margin: 0;
}
#services .services-block:hover {
    transform: scale(1.05);
    cursor: pointer;
}
#services .services-block:hover > p {
    color: var(--cor1);
}
#services a.button {
    display: inline-block;
    margin-top: 70px;
    background: white;
    color: black;
}
#services a.button:hover {
    color: var(--cor1);
}


#about {
    padding: 70px 0px;
    background: black;
    color: var(--cor1);
    text-align: center;
    color: var(--cor0);
}
#about .title {
    margin-bottom: 50px;
}
#about .content p {
    width: 75%;
    margin: auto;
    font-size: 1.2rem;
}



/***************** TELAS CONTATO/SOBRE *****************/
#contact-about {
    background: var(--cor1);
    color: white;
    text-align: center;
}
#contact-about .text {
    padding: 70px 0px;
}
#contact-about .text p:nth-child(2) {
    margin: 30px auto;
}
#contact-about .text a:first-child {
    margin-bottom: 15px;
}
#contact-about .orcamento {
    padding: 60px 0px;
}
#contact-about p {
    max-width: 1200px;
    margin: auto;
}
#contact-about hr {
    margin: 0;
    height: 3px;
}
#contact-about a:not(a.button) {
    text-decoration: underline;
}
#contact-about a.button {
    margin-top: 20px;
    display: inline-block;
    background: white;
    color: var(--cor1);
}


/************************************ FOOTER ************************************/
footer {
    padding: 30px 0px;
    text-align: center;
}
footer .info-contact div div:first-child {
    padding: 5px 15px 5px 0px;
    border-right: 3px solid black;
}
footer h1, footer h2, footer p {
    margin: 0;
}
footer div div div div:nth-child(2) {
    padding-left: 15px;
    margin-right: 50px;
}
footer h1 {
    color: var(--cor-gray);
}



/************************************ MEDIA QUERIES ************************************/
@media (max-width:319px) {
}

@media (max-width:575px) {
    #banner .intro a.button {
        width: 100%;
    }

    #services .services-block {
        margin: 0px 0px 40px 0px;
    }
}

@media (max-width:767px) {
    .button {
        font-size: 0.9rem;
    }

    header .logo {
        width: 100px;
        padding: 0;
        border-right: 0;
    }

    #banner {
        text-align: center;
    }
    #banner .intro {
        padding-top: 15px;
    }
    #banner .intro p {
        max-width: none;
        margin: 30px auto;
    }
    #banner .intro a.button {
        margin: 30px auto;
    }    


    #services {
        margin-top: -80px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    #services .title {
        width: 100%;
    }

    #services .services-block {
        width: 250px;
    }
    
    #about .content p {
        font-size: 0.85rem;
    }

    footer h2 {
        font-size: 1rem;
        line-height: 100%;
    }    
    footer a {
        font-size: 0.7rem;
    }
    footer div div div div:nth-child(2) {
        padding-left: 15px;
        margin-right: 0;
    }    
    footer .copy {
        font-size: 0.65rem;
    }
}