@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  width: 0.75rem; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #0f121a; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #eb5e28; /* color of the scroll thumb */
}
